@import '../../styles/variables';

.menu-page {
  &__tabs {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    ul {
      display: flex;
      background-color: $light-gray;
      border-radius: 10px;
      font-weight: 700;

      li {
        padding: 20px 30px;
        cursor: pointer;
      }

      .active {
        background-color: $green;
        color: $white;
      }

      .pointer-events-none {
        pointer-events: none;
      }

      .border-radius-left {
        border-radius: 10px 0 0 10px;
      }

      .border-radius-rigth {
        border-radius: 0 10px 10px 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .menu-page {
    padding: 0 3%;

    &__tabs {
      ul {
        width: 100%;
        justify-content: space-between;

        li {
          padding: 15px 10px;
        }
      }
    }
  }
}
