@import '../../styles/variables';

.cart-page {
  margin-top: 30px;

  h2 { margin-bottom: 30px; }

  .price {
    font-weight: 700;
    font-size: 1.25em;
    white-space: nowrap;
  }

  &__items {
    border-top: 1px solid $medium-gray;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 3%;
    border-bottom: 1px solid $medium-gray;

    .name {
      color: $brown;
      font-size: 1.375em;
      font-weight: 700;
    }

    .ingredients {
      font-size: .875em;
    }

    .delete {
      margin-top: 15px;
      color: $red-warning;
      cursor: pointer;
      text-decoration: underline;
      font-size: .875em;
    }
  }

  &__footer {
    margin: 30px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
