<div class="cart-page">
  <h2>Carrinho</h2>

  <div class="cart-page__items">
    <div class="cart-page__item" *ngFor="let item of items">
      <div>
        <div class="name">{{ item.filling.name }}</div>

        <div class="ingredients">{{ getIngredientsLabel(item.filling.ingredients) }}</div>

        <div><strong>Massa: </strong>{{ item.pasta.name }}</div>
        <div><strong>Tamanho: </strong>{{ item.size.name }}</div>
      </div>

      <div class="d-flex">
        <div class="price">R$ {{ getPizzaPrice(item) }}</div>

        <span class="material-icons delete">delete</span>
      </div>
    </div>
  </div>
</div>
