@forward '../../../../styles/utils/menu';
@import '../../../../styles/variables';

.filling {
  &__header {
    @extend %header;
  }

  &__cards {
    margin-top: 30px;

    .pizza-card {
      height: 150px;
      @extend %card;

      &__img {
        height: 100%;

        img {
          max-height: 100%;
          border-radius: 50%;
        }
      }

      &__content {
        margin-left: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        .stars {
          color: $medium-gray;
          font-weight: 600;
          display: flex;
          align-items: center;
          font-size: .875em;

          .material-icons {
            color: $yellow;
          }

          p {
            padding: 2px 0 0 2px;
          }
        }

        .name {
          color: $brown;
          font-size: 1.375em;
          font-weight: 700;
        }

        .ingredients {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .price {
          font-weight: 700;
          font-size: 1.125em;
        }
      }
    }

    .border-brown {
      border-color: $brown;
    }

    .border-green {
      border-color: $green;
    }
  }
}

@media (max-width: 500px) {
  .filling__cards {
    .pizza-card {
      padding: 10px;

      &__img {
        max-height: 70%;
      }
    }
  }
}
