<div class="size">
  <div class="size__header">
    <h2>Tamanhos</h2>
    <button class="btn-transparent" (click)="goNextStep()">
      <span class="label">escolha os ingredientes</span>
      <span class="material-icons">arrow_forward</span>
    </button>
  </div>

  <div class="cards row gx-5">
    <div *ngFor="let size of sizes" class="mt-3 mb-3 col-lg-6 col-xxl-4">
      <div class="size__card" (click)="selectSize(size)">

        <p class="type">{{ size.name }}</p>

        <div class="d-flex align-items-center">

          <div *ngIf="size.price; else notExtra">
            <p class="extra">+ R$ {{ size.price.toFixed(2) }}</p>
          </div>
          <ng-template #notExtra>
            <p class="free">Grátis</p>
          </ng-template>

          <div *ngIf="sizeIsSelected(size.id)" class="select select--green">
            <span class="material-icons">done</span>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
