@forward '../../../../styles/utils/menu';
@import '../../../../styles/variables';

.ingredient {
  margin-bottom: 30px;

  &__header {
    @extend %header;
  }

  &__card {
    @extend %card;
    justify-content: space-between;
    height: 64px;
    cursor: default;

    .select {
      position: initial;
      margin-left: 15px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .type {
      color: $brown;
      font-size: 1.125em;
      font-weight: 700;
    }

    .price {
      font-weight: 700;
    }

    .included {
      font-style: italic;
    }

    .delete {
      color: $red-warning;
      margin-left: 15px;
    }
  }
}
