// Why HSL: https://sujansundareswaran.com/blog/why-hsl-is-better-than-hex-and-rgb

// Primary colors
$green: hsl(143, 89%, 37%);
$brown: hsl(9, 76%, 20%);
$yellow: hsl(52, 100%, 50%);

// Secondary colors
$black: hsl(0, 0%, 0%);
$hard-gray: hsl(0, 0%, 30%);
$medium-gray : hsl(0, 0%, 62%);
$light-gray: hsl(0, 0%, 91%);
$light-white: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Support
$green-confirm: hsl(122, 39%, 49%);
$yellow-alert: hsl(43, 96%, 58%);
$red-warning: hsl(1, 90%, 50%);
